# Syntax and Semantics

Syntax is correct arrangements of words and symbols in a code. <br><br>Semantics refers to meaning or interpretation of symbols, characters and commands in a language. Semantics is all about what the code is supposed to do when it runs

In [1]:
# Python is case sensitive

name = "Rohit"
Name = "Sharma"

print(name)
print(Name)

Rohit
Sharma

In [3]:
# Python uses indentation to define blocks (1 tab or 4 spaces)

age = 22
if age > 20:
    print("You are old")
else:
    print("You are young")

You are old

In [4]:
# For line continuation, we can use \

total_score = 1 + 2 + 3 + 4 + 5  \
+ 6 + 7

print(total_score)

28

In [5]:
# We can have multiple statements in a single line

x = 5;  y = 10;   z = x + y
print(z)

15

In [10]:
# Assigning variables
# Python uses dynamic typing i.e data type is decided during run time

age = 22
name = "Charan"

print(type(age))
print(type(name))

age = "older"
print(type(age))

<class 'int'>
<class 'str'>
<class 'str'>

# Variables in Python

In [13]:
# Declaring and assigning variables

age = 22
height = 5.9
name = "Charan"
is_student = False

print("Age : ",age," ",type(age))
print("Height : ",height," ",type(height))
print("Name : ",name," ",type(name))
print("Is student? ",is_student," ",type(is_student))

Age :  22   <class 'int'>
Height :  5.9   <class 'float'>
Name :  Charan   <class 'str'>
Is student?  False   <class 'bool'>

In [14]:
# Converting into other data type

age = 22
age_str = str(age)

print("age : ",age," ",type(age))
print("age_str : ",age_str," ",type(age_str))

age :  22   <class 'int'>
age_str :  22   <class 'str'>

In [15]:
age_str = "22"
age_int = int(age_str)

print("age_int : ",age_int," ",type(age_int))
print("age_str : ",age_str," ",type(age_str))

age_int :  22   <class 'int'>
age_str :  22   <class 'str'>

In [16]:
height = 5.9
height_int = int(height)

print("height : ",height," ",type(height))
print("height_int : ",height_int," ",type(height_int))

height :  5.9   <class 'float'>
height_int :  5   <class 'int'>

In [17]:
height_int = 6
height_float = float(height_int)

print("height_int : ",height_int," ",type(height_int))
print("height_float : ",height_float," ",type(height_float))

height_int :  6   <class 'int'>
height_float :  6.0   <class 'float'>

In [18]:
# Dynamic Typing

value = 100
print(value," ",type(value))

value = "Charan"
print(value," ",type(value))

100   <class 'int'>
Charan   <class 'str'>

# Taking input from user

In [20]:
# By default, python takes input type as string

age = input("Enter your age : ")
print(age," ",type(age))

Enter your age :  22

22   <class 'str'>

In [21]:
# To get integer input

age = int(input("Enter your age : "))
print(age," ",type(age))

Enter your age :  22

22   <class 'int'>

In [22]:
# Simple calculator

num1 = float(input("Enter first number : "))
num2 = float(input("Enter second number : "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum : ",sum)
print("Difference : ",difference)
print("Product : ",product)
print("Quotient : ",quotient)

Enter first number :  12
Enter second number :  4

Sum :  16.0
Difference :  8.0
Product :  48.0
Quotient :  3.0

# Data Types

Data types are a classification of data which tells the compiler or interpreter how the programmer intends to use the data. Data types ensure that data is stored in an efficient way and help performing correct operations on data.

In [24]:
# Integer
age = 22
print("Age : ",age," ",type(age))

height = 5.9
print("Height : ",height," ",type(height))

name = "Charan"
print("Name : ",name," ",type(name))

is_student = False
print("Is student? : ",is_student," ",type(is_student))

Age :  22   <class 'int'>
Height :  5.9   <class 'float'>
Name :  Charan   <class 'str'>
Is student? :  False   <class 'bool'>

# Operators

In [27]:
a = 12
b = 5

div_result = a / b
floor_div_result = a // b
modulus_result = a % b
exponential_result = a ** b

print("Division result is : ",div_result)
print("Floor division is : ",floor_div_result)
print("Modulus result is : ",modulus_result)
print("Exponential result is : ",exponential_result)

Division result is :  2.4
Floor division is :  2
Modulus result is :  2
Exponential result is :  248832

In [31]:
a = 10
b = 10

result = (a == b)
print("a == b ?",result)

result = (a != b)
print("a != b ?",result)

a == b ? True
a != b ? False

In [32]:
a = 45
b = 18

result = (a > b)
print("a > b ?",result)

result = (a < b)
print("a < b ?",result)

a > b ? True
a < b ? False

In [34]:
x = True
y = True

result = x and y
print("x and y : ",result)

result = x or y
print("x or y : ",result)

result = not x
print("not x : ",result)

x and y :  True
x or y :  True
not x :  False