# Sets

Sets are in-built data type in Python used to store collections of unique items. Sets are unordered(donot follow a specific order while storing) and doesn't allow duplicate elements. Sets are useful for : 

<ul>
    <li>Eliminating duplicate entries</li>
    <li>Performing mathematical set operations like Union,Intersection,Difference,Symmetric difference</li>
</ul>

In [1]:
# Creating a set

numbers = {1,2,3,4,5}
print(numbers)
print(type(numbers))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [3]:
# Duplicate elements will not be present in set

my_set = set([1,2,3,4,5,6,7,3,2,1])
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [4]:
# Elements will be stored in ascending order in set

my_set = set([1,3,5,7,9,2,4,6,8,1,3])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Adding and removing elements from set

In [5]:
my_set = set([1,2,3,4,5])

print("Before adding : ",my_set)
my_set.add(6)
print("After adding : ",my_set)

Before adding :  {1, 2, 3, 4, 5}
After adding :  {1, 2, 3, 4, 5, 6}

In [6]:
my_set.remove(3)
print("After removing 3 : ",my_set)

After removing 3 :  {1, 2, 4, 5, 6}

In [7]:
# Issue with remove method
# If element is not in set,then we will get "KeyError"

my_set.remove(10)

KeyError: 10

In [8]:
# So we can use discard method as an alternative
# Discard method removes element if it is present otherwise no error is given

my_set.discard(10)

In [9]:
# First element will be removed from the set if pop is used

removed_element = my_set.pop()
print("Removed element is : ",removed_element)
print("Set after removing first element : ",my_set)

Removed element is :  1
Set after removing first element :  {2, 4, 5, 6}

In [10]:
# Removinf all elements from set

my_set.clear()
print(my_set)

set()

### Membership Test

In [11]:
my_set = set([1,2,3,4,5,6])
print("Is 3 present in set ? ",3 in my_set)
print("Is 10 present in set ?",10 in my_set)

Is 3 present in set ?  True
Is 10 present in set ? False

### Mathematical operations on sets

In [12]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

In [13]:
# Union

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
# Intersection

intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5, 6}

In [15]:
# Intersection update
# It takes out intersection set and updates the original set

print("Set1 before intersection update : ",set1)
set1.intersection_update(set2)
print("Set1 after intersection update : ",set1)

Set1 before intersection update :  {1, 2, 3, 4, 5, 6}
Set1 after intersection update :  {4, 5, 6}

In [17]:
# Difference of sets
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

difference_set = set1.difference(set2)
print(difference_set)

{1, 2, 3}

In [18]:
# Symmetric difference
# It is union of UNIQUE elements in sets.
# Common elements are removed

symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 3, 7, 8, 9}

### Sets methods

In [19]:
set1 = {1,2,3,4,5}
set2 = {3,4,5}

print(set1.issubset(set2))

False

In [20]:
print(set1.issuperset(set2))

True

### Some applications of set

In [21]:
# Removing duplicate elements from list

numbers = [1,2,4,5,3,6,2,3,1,4]
set(numbers)

{1, 2, 3, 4, 5, 6}

In [26]:
# Counting unique words in the list

text = "Ricky Ponting is one of the best captains in the world"
words = text.split()

unique_words = set(words)

print("Unique words in sentence are : ",unique_words)
print("Total unique words : ",len(unique_words))

Unique words in sentence are :  {'captains', 'best', 'Ricky', 'is', 'of', 'one', 'the', 'in', 'world', 'Ponting'}
Total unique words :  10