# Tuples

Tuplesm are ordered collections of items that are immutable. Tuples are similar to lists but their immutability makes the different.

In [2]:
empty_tuple = ()
print("Empty Tuple : ",empty_tuple)
print(type(empty_tuple))

Empty Tuple :  ()
<class 'tuple'>

In [3]:
empty_tuple = tuple()
print("Empty Tuple : ",empty_tuple)

Empty Tuple :  ()

In [4]:
numbers = tuple([1,2,3,4,5])
numbers

(1, 2, 3, 4, 5)

In [5]:
# We can perform type conversion from tuple to list

list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [6]:
mixed_tuple = (1,"Charan",22,2001)
print(mixed_tuple)

(1, 'Charan', 22, 2001)

### Accessing tuple elements

In [8]:
# Indexing and slicing a tuple is similar to list

numbers_tuple = (1,2,3,4,5)
print(numbers_tuple[0])
print(numbers_tuple[-1])

1
5

In [9]:
print("Slicing : 4 => ",numbers_tuple[:4])
print("Slicing 1 :  => ",numbers_tuple[1:])
print("Slicing 1 : 3 => ",numbers_tuple[1:3])

Slicing : 4 =>  (1, 2, 3, 4)
Slicing 1 :  =>  (2, 3, 4, 5)
Slicing 1 : 3 =>  (2, 3)

In [10]:
print("Reverse of tuple : ",numbers_tuple[::-1])

Reverse of tuple :  (5, 4, 3, 2, 1)

### Operations on tuples

In [12]:
# Concatenating two tuples

numbers_tuple = (1,2,3,4,5)
mixed_tuple = (1,"Charan","2001",22)

print(numbers_tuple + mixed_tuple)

(1, 2, 3, 4, 5, 1, 'Charan', '2001', 22)

In [15]:
# Multiplying tuple with a number

print(mixed_tuple * 3)
print(numbers_tuple * 3)

(1, 'Charan', '2001', 22, 1, 'Charan', '2001', 22, 1, 'Charan', '2001', 22)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

### Immutable nature of tuples

Elements of the tuple cannot be changed once assigned.

In [17]:
# We cannot change the value of tuple.It will result in type error

mixed_tuple = ("Charan",2001,22,"vvsdc")
mixed_tuple[0] = "VVSD Charan"

TypeError: 'tuple' object does not support item assignment

### Inbuilt tuple methods

In [21]:
numbers_tuple = (1,4,6,7,2,3,4,1,5,2,3)

# count method returns frequency of an element in tuple
print("Number of occurences of 3 : ",numbers_tuple.count(3))

# index method returns index of first occurence of a number
print("First index of 3 : ",numbers_tuple.index(3))

Number of occurences of 3 :  2
First index of 3 :  5

In [23]:
# Packing and unpacking tuples

# Packing
packed_tuple = "Charan","2001",14,164
print(packed_tuple)

#Unpacking
name,year,favorite_number,highest_score_odi = packed_tuple
print(name,year,favorite_number,highest_score_odi)

('Charan', '2001', 14, 164)
Charan 2001 14 164

In [24]:
# Another method for unpacking

numbers_tuple = (1,2,3,4,5,6)
first,*middle,last = numbers_tuple

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6